@import './variables.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#portal {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.svg-external-icon {
  background-color: currentColor;
  mask-size: cover!important;
  display: inline-block;
}
//--
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
    padding: 0;
  }
}

body, .wrap, .wrap-side .el-menu {
  background-color: #f5f7fa;
}

.wrap-side {
  padding: 0;
}

.wrap-side .el-menu {
  border: none;
}

.wrap-content {
  //background-color: #fff;
}

.search-box .el-card__header {
  padding: 10px 20px;
}

.search-box .el-form-item {
  margin-bottom: 5px;
}

.wrap-tab .box-card {
  //min-height: 400px;
  padding-bottom: 20px;
}

.box-pane .el-tabs__content {
  display: none;
}

.box-pane .el-tabs--border-card {
  border: 0;
  box-shadow: none;
}

.box-pane .el-tabs--border-card > .el-tabs__header {
  border-bottom: 0;
}

.btn-tool {
  background: 0 0;
  color: #adb5bd;
  font-size: .875rem;
  margin: -.75rem 0;
  padding: .25rem .5rem;
}

#head-nav {
  background-image: url("img/nav_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
}

#sidebar-nav {
  margin-top: 10px;
}

#sidebar-nav .menu-m {
}

#sidebar-nav .menu-item {
  height: auto;
  line-height: normal;
}

#sidebar-nav .menu-item > div {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

#sidebar-nav .menu-item span {
  border-radius: 35px;
  height: 32px;
  line-height: 32px;
  float: left;
  padding: 0 22px 0 20px;
}

#sidebar-nav .menu-item .svg-icon {
  color: #267dd5;
}

#sidebar-nav .is-active .svg-icon {
  color: #ffffff;
}

#sidebar-nav .is-active span.menu-title {
  color: #fff;
  background-color: #267dd5;
}

#sidebar-nav .is-active .menu-title .side-icon {
  color: #fff;
}

#sidebar-nav .menu-item span:hover, #sidebar-nav .menu-item span:focus {
  background-color: #409eff;
}

#sidebar-nav .sub-menu-title{
  //height: 32px;
  //line-height: 32px;
}
#sidebar-nav .el-submenu__title{
  height: 32px;
  line-height: 32px;
}
#sidebar-nav .el-submenu__title:hover {
  background-color: transparent;
}
#sidebar-nav .is-opened .el-menu::before, #sidebar-nav .is-opened .el-menu::after{
  display: inline;
}
//--
.text-blue{
  color: #267dd5;
}
.text-green{
  color: #14aa5c;
}
#nprogress .bar {
  background: #14aa5c !important;
}
//--
.home-logo{
  height: 26px;
  width: 152px;
}
.btn-mp{

}
span.pay-status{
  border-radius: 11px;
  padding: 3px 8px;
  background-color: #ecf5ff;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  font-weight: bold;
  font-size: 12px;
}
span.ps-paid{
  background-color: #60c515;
}
span.ps-pending{
  color: #d2d2d2;
}
span.ps-failed{
  background-color: #ee6586;
}
span.ps-canceled{
  background-color: #969796;
}
//-
#blank-w main > .container{
  padding-top: 60px
}
