@import './variables.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#portal {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.svg-external-icon {
  background-color: currentColor;
  mask-size: cover!important;
  display: inline-block;
}
//--
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
    padding: 0;
  }
}

body, .wrap, .wrap-side .el-menu {
  background-color: #f5f7fa;
}

.wrap-side {
  padding: 0;
}

.wrap-side .el-menu {
  border: none;
}

.wrap-content {
  //background-color: #fff;
}

.wpy-card .el-card__header {
  padding: 10px 20px;
}

.search-box .el-form-item {
  margin-bottom: 5px;
}

.wrap-tab .box-card {
  //min-height: 400px;
  padding-bottom: 20px;
}

.box-pane .el-tabs__content {
  display: none;
}

.box-pane .el-tabs--border-card {
  border: 0;
  box-shadow: none;
}

.box-pane .el-tabs--border-card > .el-tabs__header {
  border-bottom: 0;
}

.btn-tool {
  background: 0 0;
  color: #adb5bd;
  font-size: .875rem;
  margin: -.75rem 0;
  padding: .25rem .5rem;
}

#head-nav {
  background-image: url("img/nav_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
}

#sidebar-nav {
  margin-top: 10px;
}

#sidebar-nav .menu-m {
}

#sidebar-nav .menu-item {
  height: auto;
  line-height: normal;
}

#sidebar-nav .menu-item > div {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

#sidebar-nav .menu-item span {
  border-radius: 35px;
  height: 32px;
  line-height: 32px;
  float: left;
  padding: 0 22px 0 20px;
}

#sidebar-nav .menu-item .svg-icon {
  color: #267dd5;
}

#sidebar-nav .is-active .svg-icon {
  color: #ffffff;
}

#sidebar-nav .is-active span.menu-title {
  color: #fff;
  background-color: #267dd5;
}

#sidebar-nav .is-active .menu-title .side-icon {
  color: #fff;
}

#sidebar-nav .menu-item span:hover, #sidebar-nav .menu-item span:focus {
  background-color: #409eff;
}

#sidebar-nav .sub-menu-title{
  //height: 32px;
  //line-height: 32px;
}
#sidebar-nav .el-submenu__title{
  height: 32px;
  line-height: 32px;
}
#sidebar-nav .el-submenu__title:hover {
  background-color: transparent;
}
#sidebar-nav .is-opened .el-menu::before, #sidebar-nav .is-opened .el-menu::after{
  display: inline;
}
//--
.text-blue{
  color: #267dd5;
}
.text-green{
  color: #14aa5c;
}
#nprogress .bar {
  background: #14aa5c !important;
}
//--
.home-logo{
  height: 26px;
  width: 152px;
}
.wpy-btn{

}
.wpy-table .el-table__empty-block{
  min-height: 260px;
}
.wpy-table .el-table__empty-text {
  background: url("img/not-find-sm.svg") no-repeat top center;
  background-size: 100px;
  line-height: 140px;
}
span.pay-status{
  border-radius: 5px;
  padding: 3px 8px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 12px;
}
span.ps-paid{
  color: #05ccbf;
  font-weight: 700;
  background-color: #e0f6f6;
}
span.ps-pending{
  color: #ffc112;
  background-color: #fff5d9;
}
span.ps-failed, .refund-1, .declined-1{
  color: #670d2e;
  background-color: #f8f1ff;
}
span.ps-canceled{
  color: #172474;
  background-color: #f5f8fe;
}
span.card-brand{
  width: 30px;
  height: 20px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}
span.cb-visa{
  background-image: url("img/icon/visa.svg");
}
span.cb-mastercard{
  background-image: url("img/icon/mastercard.svg");
}
span.cb-DClub{
  background-image: url("img/icon/diners-club.svg");
}
span.cb-jcb{
  background-image: url("img/icon/jcb.svg");
}
span.cb-ae{
  background-image: url("img/icon/american-express.svg");
}
span.cb-dc{
  background-image: url("img/icon/discover.svg");
}
.wpy-dialog{
  border-radius: 6px;
}
.wpy-dialog .el-dialog__title{
  font-size: 15px;
}
.wpy-dialog .el-dialog__body{
  padding: 20px 20px 10px 20px;
  background-color: #f7f7f7;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.bg-body .el-dialog__body, .bg-body .el-card__body{
  padding: 0;
}
.wpy-dialog .el-dialog__header{
  background-color: #ffffff;
  padding: 12px 20px 12px 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.wpy-dialog .el-dialog__footer{
  background-color: #ffffff;
  padding: 12px 20px 12px 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.sm-dialog{
  width: 410px;
}
.clear-mb-form .el-form-item{
  margin-bottom: 0;
}
.clear-mb-form{
  margin-bottom: 20px;
}
.el-loading-spinner{
  background: url("img/vloading.gif") no-repeat center;
  height: 50px;
  background-size: 50px;
}
.el-loading-spinner .circular{
  display: none;
}
.hideFileBox .el-upload-dragger{
  display: none;
}
.el-upload-list__item .el-icon-close{
  display: inline-block;
}
button:focus{outline:0;}
//-
#blank-w main > .container{
  padding-top: 60px
}
.list-info-box .title{
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}
.list-info-box .item{
  margin-bottom: 3px;
  font-size: 14px;
}
.list-info-box span.label{
  width: 100px;
  color: #a9a9a9;
  display: inline-block;
}
.tr-id{
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 14px;
}
.tr-id:hover{
  color:#0366d6;
  background-color: #eff7ff;
}
.btn-link{
  color:#0672ec;
}
